.project {
  list-style: none;
  flex: 0 0 calc(50% - 20px);
  width: 0 0 calc(50% - 20px);
  margin: 10px;
  box-shadow: 2px 2px 12px 5px #e2e8f0;
  border-radius: 5px;
  height: 190px;
}

.pro-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.pro-name {
  color: #000;
  font-weight: 500;
  margin: 10px;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .project {
    width: 0 0 calc(25% - 30px);
    flex: 0 0 calc(25% - 30px);
    height: 250px;
  }
}
